<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuiteXE" parallel="false">
    <test name="Search for Pagkrati">
        <classes>
            <class name="tests.searchproperty"/>
            <class name="tests.RentalSettingsTest"/>
            <class name="tests.checkAds"/>

        </classes>
    </test>

</suite>